.d-flex{
    display: flex;
    justify-content: space-between;
}
.order-info{
    font-size: 18px;
    line-height: 1.43;
    color: #9b9b9b;
    padding: 2px 5px 5px;
    margin-bottom: 0;
}
.flex-grow-1{
    flex-grow: 1!important;
}
.section{
    font-size: 18px;
    color: #9b9b9b;
    line-height: 1.43;
}
.order-status{
color: #4bb1df;
padding-left: 10px;
font-size: 16px;
border-radius: 4px;
padding-top: 3px;
padding-bottom: 3px;
/* float:right; */
margin-bottom: 15px;
display: inline-block;
}
.row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.order-list-item{
    margin-bottom: 20px;
}
.col-md-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-12, .col-md-6 , .col-md-4{
    position: relative;
    min-height: 1px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.od-title, .order-list-item{
    /* font-size: 14px;
    margin-bottom: 5px; */
    color: #9b9b9b;
}
.od-val{
    font-size: 16px;
    color: #474747;
    font-weight: 400;
}
*{
box-sizing: border-box;
}
.single-product-loop{
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    max-width: 375px;
    background-color: #fff;
    box-shadow: 0 2px 13px 0 rgb(0 0 0 / 4%);
    font-size: 14px;
    border: 1px solid #f5f5f5
}
.c-order-details{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 4px 0;
    font-size: 14px;
    margin-bottom: 5px;
}
.c-order-total{
    border-top: 0.6px solid rgba(151,151,151,.26);
    padding: 18px 0 0;
    margin: 10px 0 0;
}
.detail-container{
    border-bottom: 2px solid #dbdbdb!important;
    margin-top: 25px;
    flex-wrap: nowrap!important;
    flex-direction: row!important;
    padding-left: 20px;
}
.details-container{
    flex-wrap: wrap!important;
    padding: 0!important;
    margin-top: 25px;
}
.single-product-loop{
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 20px 10px;
    max-width: 375px;
    background-color: #fff;
    box-shadow: 0 2px 13px 0rgba(0,0,0,.04);
    font-size: 14px;
    border: 1px solid #f5f5f5;
}
.agent-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem!important;
    border-bottom: 0.6px solid rgba(151,151,151,.26);
    padding: 0!important;
}
/* .col-12 { 
    flex: 0 0 100%;
    max-width: 100%;
} */
.c-order-details , .orderbox{
    font-size: 16px;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 15px 0;
}
.text-left{
    margin-top: 10px;
    font-weight: 900;
    margin-left: 65px;
    text-align: left!important;
}
/* Order Status bar */
.stepper-wrapper {
    /* font-family: Arial; */
    /* margin-top: 50px; */
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 20px; */
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 15px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 15px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
  }
  
  .stepper-item.active {
    font-weight: bold;
  }
  
  .stepper-item.completed .step-counter {
    background-color: #4bb1df;
    color:white;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb1df;
    width: 100%;
    top: 15px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }
  
/*  */

